<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>比奇堡招聘网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="比奇堡招聘网">
    <meta name="description" content="我们要成为全球最大的招聘网站">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div th:insert="~{index::topbar}"></div>
<div class="fly-panel fly-column" th:fragment="company-topbar">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a th:href="@{/company/index}">首页</a></li>
            <li><a th:href="@{/company/post}">职位管理</a></li>
            <li><a th:href="@{/company/seeker}">人才搜索</a></li>
            <li><a th:href="@{/company/recruit}">招聘信息</a></li>
            <li><a th:href="@{/company/candidate}">投递情况</a></li>
        </ul>
    </div>
</div>




<div th:insert="~{index::bootombar}"></div>
</body>
</html>