<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longlong.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.longlong.entity.User">
        <result column="userid" jdbcType="INTEGER" property="userid" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="usertype" jdbcType="INTEGER" property="usertype" />
    </resultMap>

    <select id="queryUserByUsername" resultType="com.longlong.entity.User">
        select * from user where username = #{username}
    </select>

    <select id="queryAllUser" resultType="com.longlong.entity.User">
        select * from user
    </select>

    <insert id="addUser" parameterType="RegUser">
        insert into user(username, password, usertype) values (#{username},#{password},#{usertype})
    </insert>

    <delete id="deleteUser" parameterType="User">
        delete from user where userid = #{userid}
    </delete>
</mapper>